.commands{
background-color: transparent;
color: #fff; 
padding: 20px;
border-radius: 8px;
border: 1px solid #fff;
}

h1{
text-align: center;
margin-bottom: 10px;
}

.comando{
font-weight: bold;
color: #f9a825; 
}
.list-group{
    list-style: none;
}
.categorias{
    font-weight: bold;
    color: #c1bec2; 
}